<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669318155909-d6ojqal5ii53mroeirmjk6j75tllna5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669318155909-d6ojqal5ii53mroeirmjk6j75tllna5r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>669318155909-una5r35mjt4d9bk2mnej3c0nh6kg4vgi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQLcA5u2yCKTdM45bJTwKT28cqqCuogP8</string>
	<key>GCM_SENDER_ID</key>
	<string>669318155909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sayhey.app</string>
	<key>PROJECT_ID</key>
	<string>sayhey-app-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>sayhey-app-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669318155909:ios:89cc78775bdf54b51f23ec</string>
</dict>
</plist>